<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="bubble"></div>
    new Vue({})

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <p style="white-space: pre-line;">{{ message }}</p>
    

    <script>
        export default {
            data() {
            return {
                text: true
            }
        },
        methods: {
            sendbtn() {
            this.text = !this.text
            }
        }
    }

    </script>

        <template>
        <button @click="sendbtn">toggle</button>
        <textarea v-model="message" v-if="text" placeholder="대화를 입력해주세요."></textarea>
        <textarea v-else>Oh no 😢</textarea>
        </template>
</body>    

<style>
    .bubble {
        display: flex;
        height: 80vh;
        background: lightgray;
    }
    .textarea {
        display: flex;
        height: 500vh;
        width: 1000vh;
        background: pink;
    }
</style>
</html>